.ttl {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin: 50px 0;
}

.tasks__form {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 50px;
}

.tasks__form_name {
  width: 400px;
  padding: 10px;
  margin-right: 20px;
}

